﻿* {
    margin: 0;
    font-size: 9pt;
    font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    /*background-image: url('images/cloud-bg.jpg');*/
    background-repeat: no-repeat;
    -ms-background-size: 100%;
    background-size: 100%;
}

p {
    font-size: 100%;
}

#wrapper {
    width: 1140px;
    margin: auto;
    height: 100%;
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-top: 14px;
    margin-top: -8px;
    -webkit-box-shadow: 0 5px 25px 5px #ababab;
    -moz-box-shadow: 0 5px 25px 5px #ababab;
    box-shadow: 0 5px 25px 5px #ababab;
}

#wrapper-left-shadow {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
}

#wrapper-right-shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -ms-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

hr {
    margin-top: 4px;
    height: 1px;
    border-style: none;
    background-color: #9FCBEF;
    color: #9FCBEF;
    margin-bottom: 6px;
}

img {
    border: 0;
    vertical-align: middle;
}

.table-input-data {
    width: 100%;
}

    .table-input-data td {
        padding: 3px;
    }

/* ------------------------------------------------------------------------------------------------ */
/* Portal Layout Pane */
.LeftPane, .VirtualLeftPane {
    width: 180px;
    border-right: solid 0px #9FCBEF;
    background-color: #E9F2FA;
}

.RightPane, .VirtualRightPane {
    width: 180px;
    border-left: solid 0px #9FCBEF;
    background-color: #E9F2FA;
    background-color: #ffffff;
}

.ContentPane {
    background-color: #FFFFFF;
}

.HSeparator {
    width: 4px;
}

.VSeparator {
    padding: 4px;
    background-color: White;
}

.LeftSeparator {
    width: 0;
}

.RightSeparator {
    width: 0;
}
/* ------------------------------------------------------------------------------------------------ */
/*Modal Popup*/
.MediaModalPopup {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.ModalPopup {
    border: solid 10px #9FCBEF;
    background-color: #E9F1FD;
}

.ModalBackground {
    filter: alpha(opacity=75);
    -moz-opacity: 0.6;
    opacity: 0.6;
    background-color: Black;
}

.Error {
    color: #cd0a0a;
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------ */
/* Horizontal Portal Menu */
.HorizontalMenu {
    padding: 4px;
}

.HorizontalMenuGroup {
}

.HorizontalMenuItem {
    padding: 1px;
    font-weight: bold;
    font-size: 8pt;
}

    .HorizontalMenuItem:link {
    }

    .HorizontalMenuItem:hover {
    }

h3 {
    padding-top: 4px;
    font-size: 11pt;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #0E4380;
}

/* ------------------------------------------------------------------------------------------------ */
/* Module */
.ModuleTitle {
    padding: 8px;
    margin: 0;
    background-color: #357EBD !important;
    text-align: left;
    text-decoration: none !important;
    font-family: 'utm_swiss_condensedregular';
    color: #ffffff !important;
    font-weight: normal;
    font-size: 11pt;
    text-transform: uppercase;
}

.ModuleTitle-Left {
    width: 3px;
    background-color: #357EBD;
    /*background: url(images/module-title-left.jpg);*/
}

.ModuleTitle-Right {
    width: 3px;
    background-color: #357EBD;
    /*background: url(images/module-title-right.jpg);
	background-position: right top;*/
}

.ModuleContent {
    padding: 0;
}

.VirtualModuleContent {
    padding: 6px;
}

.ModuleFrame {
    padding: 0;
}

.ModuleFrame1 {
    width: 0;
    height: 0;
    visibility: hidden;
}

.ModuleFrame2 {
    height: 0;
    visibility: hidden;
}

.ModuleFrame3 {
    width: 0;
    height: 0;
    visibility: hidden;
}

.ModuleFrame4 {
    width: 0;
    visibility: hidden;
}

.ModuleFrame5 {
}

.ModuleFrame6 {
    width: 0;
    visibility: hidden;
}

.ModuleFrame7 {
    width: 0;
    height: 0;
    visibility: hidden;
}

.ModuleFrame8 {
    height: 0;
    visibility: hidden;
}

.ModuleFrame9 {
    width: 0;
    height: 0;
    visibility: hidden;
}

.VirtualModuleTitle {
    visibility: hidden;
}
/* ------------------------------------------------------------------------------------------------ */
/* Login */
#LoginTab {
    font-weight: bold;
    padding: 4px;
    padding-right: 5px;
}

    #LoginTab a {
        text-decoration: none;
        font-size: 8pt;
    }

    #LoginTab span {
        font-size: 8pt;
    }

    #LoginTab a:hover {
    }
/* ------------------------------------------------------------------------------------------------ */

/* Menu Link Group */
.MenuLinkGroup {
    background-color: #357EBD !important;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    text-align: left;
    text-decoration: none !important;
    font-family: 'utm_swiss_condensedregular';
    color: #ffffff !important;
    font-weight: normal;
    font-size: 11pt;
    text-transform: uppercase;
    white-space: nowrap;
}

    .MenuLinkGroup a {
        text-decoration: none !important;
        font-family: 'utm_swiss_condensedregular';
        color: #ffffff !important;
        font-weight: normal;
        font-size: 11pt;
        text-transform: uppercase;
        white-space: nowrap;
    }

.MenuLinkItem {
    text-decoration: none !important;
    vertical-align: middle;
    margin: 1px;
    padding: 4px;
    display: block;
    white-space: nowrap;
}

    .MenuLinkItem a:hover {
        color: Blue;
    }

    .MenuLinkItem:hover {
        color: Blue;
    }

    .MenuLinkItem a {
        text-decoration: none;
        color: #0E4380;
        font-size: 9pt;
    }

        .MenuLinkItem a:visited {
            color: #0E4380;
        }


.MenuLink {
    padding: 0;
    margin: 0;
}

.MenuLinkSubItem {
    font-family: Arial;
    text-decoration: none;
    font-weight: bold;
    color: #373737;
    vertical-align: middle;
    background-color: #fafafa;
    margin: 1px;
    padding: 6px;
    display: block;
    padding-left: 16px;
}



    .MenuLinkSubItem:hover {
        color: #ffffff;
        background-color: Orange;
    }


/* ------------------------------------------------------------------------------------------------ */
.SiteLink {
    text-decoration: none;
}

    .SiteLink:hover {
        text-decoration: none;
    }
/* ------------------------------------------------------------------------------------------------ */
.Title, .Header, .SubHead {
    font-weight: bold;
    text-decoration: none;
    color: #0E4380;
}

.Title {
    font-size: 9pt;
}

.Header {
    font-size: 11pt;
    text-transform: uppercase;
}

.SubTitle {
    color: Gray;
}

.Summary {
    font-size: 9pt;
    text-align: justify;
    display: block;
}

.Description {
    font-size: 9pt;
    text-align: justify;
    display: block;
}
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* Panel */
.Panel, .PanelWithBg {
    border-width: 1px;
    border-style: solid;
    padding: 0;
    /*
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;*/
}

.LeftColumn {
    width: 1%;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    color: #0E4380;
}

.RightColumn {
}

.icon {
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------ */
/* Panel */
.HintPanel {
    border-width: 1px;
    border-style: solid;
    padding: 0;
}

.PanelContentHeader {
    height: 30px;
    background-color: #c1d9ff;
}

    .PanelContentHeader td {
        font-weight: bold;
        text-transform: uppercase;
    }

.PanelTabContentHeader {
    height: 24px;
}

.PanelTabContentFooter {
    height: 24px;
}

.PanelHeader {
    background-color: #BBD3F2;
}

.PanelHeaderNoLeft {
}

.PanelHeaderNoRight {
}

.PanelHeader td {
    font-weight: bold;
    text-transform: uppercase;
}

.PanelHeaderNoLeft td {
    font-weight: bold;
    text-transform: uppercase;
}

.PanelHeaderNoRight td {
    font-weight: bold;
    text-transform: uppercase;
}

.PanelFooter {
    background-color: #D3ECFF;
    padding: 3px;
    border: 1px solid #9FCBEF;
    border-top: none;
}


.Picture {
    padding: 2px;
    border-style: double;
    border-width: 2px;
    border-color: #E9F2FA;
}

.SmallPicture {
    margin: 3px;
    padding: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: #DDDDDD;
    height: 175px;
    width: 135px;
}

.chrome legend {
    top: 0;
}

.Separator {
}

.ModalPopup {
    background-color: #E9F1FD;
    border-color: #9FCBEF;
}

.HorizontalMenu {
}

.HorizontalMenuGroup {
}

.HorizontalMenuItem {
    color: #11449E;
}

    .HorizontalMenuItem:link {
    }

    .HorizontalMenuItem:hover {
        color: Orange;
    }




.ModuleContent {
}

.ModuleTitleText {
    font-family: 'utm_swiss_condensedregular';
    color: #ffffff;
    font-weight: normal;
    font-size: 11pt;
}

.VirtualModuleTitle {
}

#LoginTab {
    color: #11449E;
}

    #LoginTab a {
        color: #11449E;
    }

    #LoginTab span {
        color: #11449E;
    }

    #LoginTab a:hover {
        color: Orange;
    }

.SiteLink {
    color: #11449E;
}

    .SiteLink:hover {
        color: Blue;
    }

.Description {
    font-size: 10pt;
}


.Panel {
    border-color: #9FCBEF;
}

.PanelWithBg {
    border-color: #9FCBEF;
    background-color: #D3ECFF;
}

.Pager {
    font-weight: bold;
    border: 2px solid transparent;
}

.HintPanel {
    border-color: Orange;
}

.Panel {
    border-color: #9FCBEF;
}

.PanelContentHeader {
    background-color: #c1d9ff;
    border-left: solid 1px #9FCBEF;
    border-right: solid 1px #9FCBEF;
}

    .PanelContentHeader td {
    }

.PanelTabContentHeader {
    background-color: #c1d9ff;
}

.PanelTabContentFooter {
    background-color: #c1d9ff;
    height: 24px;
}

.PanelHeader {
    background-color: #BBD3F2;
}

.PanelHeaderNoLeft {
    background-color: #c1d9ff;
}

.PanelHeaderNoRight {
    background-color: #c1d9ff;
}

.PanelHeader td {
}

.PanelHeaderNoLeft td {
}

.PanelHeaderNoRight td {
}

.header-panel {
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #0E4380;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px #9FCBEF solid;
    margin-bottom: 16px;
}

    .header-panel span {
        font-size: 11pt;
    }

.content-panel {
    margin-bottom: 16px;
}

.footer-panel {
    border-top: 1px #9FCBEF solid;
    padding-top: 10px;
    margin-bottom: 16px;
}
