﻿/* ------------------------------------------------------------------------------------------------ */
/* Grid styles */
.Grid {
	border-width: 1px;
	border-style: solid;
}
.Grid td {	
	font-size: 8pt;
	border-width: 1px;
	border-style: solid;
}
.GridItem {
	color: Black;
}
.GridSelected td {
	color: Black;
	font-weight: bold;
}
.GridAlternatingItem {
	color: Black;
}
.GridHeader, .EmptyData {
	font-family: Tahoma;
	border-color: Black;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	height: 22px;
}
.GridPager {
	padding: 6px;
	font-weight: bold;
	vertical-align: middle;
}

.GridPager td  table tr td
{
    text-decoration: none;
    border: none;

}

.GridPager td  table tr td a, .GridPager td  table tr td span
{
    margin-top: 10px;
    cursor: pointer;
	padding: 3px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/*background-attachment: scroll;
	background-position: 0 0;
	background-repeat: repeat;*/
	/*text-shadow: 0 1px 0 #FFFFFF, 0 2px 4px #AAAAAA;*/
	padding-left: 6px;
	padding-right: 6px;	
	background-color: #E4EFFE;
	border: 1px solid #8AAFE1;
	color: #0E4380;
	/*background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#FFFFFF),to(#BBD3F2));
    background-image: -moz-linear-gradient(top,#FFFFFF,#BBD3F2);
    background-image: -ms-linear-gradient(top,#FFFFFF,#BBD3F2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF),color-stop(100%,#BBD3F2));
    background-image: -webkit-linear-gradient(top,#FFFFFF,#BBD3F2);
    background-image: -o-linear-gradient(top,#FFFFFF,#BBD3F2);
    background-image: linear-gradient(top,#FFFFFF,#BBD3F2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#BBD3F2',GradientType=0);*/
    border-color: #8AAFE1 #8AAFE1 #8AAFE1;
    color: #0E4380;
    background-color: #d3ecff;
    border-color: #9FCBEF;
}

.GridPager td  table tr td span {

    background-color: #E4EFFE;
}

.GridHeader th {
	border-width: 1px;
	border-style: solid;
}
.GridHeader th a {
	text-decoration: none!important;
}
.GridHeader th a:hover {
	text-decoration: none;
}
.DetailViewHeader {
	font-family: Tahoma;
	border-color: Black;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: middle;
	height: 30px;
	border-width: 1px;
	border-style: solid;
}
.DetailViewHeader th {
	border-width: 1px;
	border-style: solid;
}
.DetailView {
	border-width: 1px;
	border-style: solid;
	color: Black;
}
.DetailView td {
	font-family: Tahoma;
	font-size: 11px;
	border-width: 0px;
	border-style: solid;
}

.Grid td {
	border-color: #8AAFE1;
	vertical-align: top;
}
.GridItem {
	background-color: #F0F9FF;
	color: Black;
    vertical-align: top;
}
.GridSelected td {
	background-color: #FFFFC0;
	color: Black;
	font-weight: bold;
}
.GridAlternatingItem {
	background-color: #FFFFFF;
	color: Black;
}
.GridHeader, .EmptyData {
	background-color: #BBD3F2;
	color: #0E4380;
	font-weight: bold;
}
.GridHeader th {
	padding: 6px;
	background: #D3ECFF /*url('images/grid/grid-header-bg.jpg') repeat-x*/;
	border-color: #8AAFE1;
	text-shadow: 1px 1px 0 #f0f9ff;
}
.GridHeader a {
	color: #11449E;
}
.DetailViewHeader {
	background-color: #BBD3F2;
	border-color: #8AAFE1;
	color: #0E4380;
}
.DetailViewHeader th {
	border-color: #8AAFE1;
}
.DetailView {
	border-color: #8AAFE1;
	color: Black;
}
.DetailView td {
	border-color: #8AAFE1;
}