﻿@font-face {
    font-family: 'utm_swiss_condensedregular';
    src: url('fonts/utm_swiss_condensed.eot');
    src: url('fonts/utm_swiss_condensed.eot?#iefix') format('embedded-opentype'), url('fonts/utm_swiss_condensed.woff') format('woff'), url('fonts/utm_swiss_condensed.ttf') format('truetype'), url('fonts/utm_swiss_condensed.svg#utm_swiss_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMEssendineCapsRegular';
    src: url('fonts/utm_essendine_caps.eot');
    src: url('fonts/utm_essendine_caps.eot?#iefix') format('embedded-opentype'), url('fonts/utm_essendine_caps.woff') format('woff'), url('fonts/utm_essendine_caps.ttf') format('truetype'), url('fonts/utm_essendine_caps.svg#UTMEssendineCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utm_avoregular';
    src: url('fonts/utm_avo.eot');
    src: url('fonts/utm_avo.eot?#iefix') format('embedded-opentype'), url('fonts/utm_avo.woff') format('woff'), url('fonts/utm_avo.ttf') format('truetype'), url('fonts/utm_avo.svg#utm_avoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utm_avobold';
    src: url('fonts/utm_avobold.eot');
    src: url('fonts/utm_avobold.eot?#iefix') format('embedded-opentype'), url('fonts/utm_avobold.woff') format('woff'), url('fonts/utm_avobold.ttf') format('truetype'), url('fonts/utm_avobold.svg#utm_avobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#overlay {
    background: #E9F2FA;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

    #overlay ul {
        padding: 0;
        margin: 20px auto 0;
        list-style: none;
        text-align: center;
        display: block;
    }

        #overlay ul li {
            width: 10px;
            height: 10px;
            background-color: #0E87DB;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
            display: inline-block;
            border-radius: 50%;
            margin: 0 4px;
            -webkit-animation: loading 2.5s infinite;
            -moz-animation: loading 2.5s infinite;
            -o-animation: loading 2.5s infinite;
            -ms-animation: loading 2.5s infinite;
            animation: loading 2.5s infinite;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
        }

            #overlay ul li.li6 {
                -webkit-animation-delay: 0.1s;
                -moz-animation-delay: 0.1s;
                -o-animation-delay: 0.1s;
                -ms-animation-delay: 0.1s;
                animation-delay: 0.1s;
            }

            #overlay ul li.li5 {
                -webkit-animation-delay: 0.25s;
                -moz-animation-delay: 0.25s;
                -o-animation-delay: 0.25s;
                -ms-animation-delay: 0.25s;
                animation-delay: 0.25s;
            }

            #overlay ul li.li4 {
                -webkit-animation-delay: 0.5s;
                -moz-animation-delay: 0.5s;
                -o-animation-delay: 0.5s;
                -ms-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }

            #overlay ul li.li3 {
                -webkit-animation-delay: 0.75s;
                -moz-animation-delay: 0.75s;
                -o-animation-delay: 0.75s;
                -ms-animation-delay: 0.75s;
                animation-delay: 0.75s;
            }

            #overlay ul li.li2 {
                -webkit-animation-delay: 1s;
                -moz-animation-delay: 1s;
                -o-animation-delay: 1s;
                -ms-animation-delay: 1s;
                animation-delay: 1s;
            }

            #overlay ul li.li1 {
                -webkit-animation-delay: 1.25s;
                -moz-animation-delay: 1.25s;
                -o-animation-delay: 1.25s;
                -ms-animation-delay: 1.25s;
                animation-delay: 1.25s;
            }

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateX(-30px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        -webkit-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: translateX(-30px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        -moz-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes loading {
    0% {
        -o-transform: translateX(-30px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        -o-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes loading {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        -ms-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        -ms-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/* ---------------------------------------------------------------------------------------------- */
.admin-bar {
    background-color: #9FCBEF;
    font-weight: bold;
    padding: 4px;
}

.welcomezone {
    background-color: #e9f2fa;
    background-image: url('images/banner2.jpg');
    background-repeat: no-repeat;
    height: 168px;
}

.headerzone {
    background-color: #e9f2fa;
    border-bottom: 6px #ff9200 solid;
}

.welcomezone span {
    color: #0E4380;
    font-weight: bold;
}

.login-user-image {
    background-image: url('images/user.jpg');
    background-repeat: no-repeat;
    height: 55px;
    width: 54px;
}

.footerzone-line {
    background-color: #357EBD;
    height: 30px;
}

.footerzone {    
    padding-left: 8px;
    padding-top: 6px;
}

#twolines-menu ul {
    margin: 0;
    padding: 0;
    z-index: 30;
}

#twolines-menu li {
    margin: 0px 0px 0px 0px;
    padding: 4px 4px 0px 6px;
    list-style: none;
    float: left;
    font: bold 11px Tahoma;
    height: 28px;
    vertical-align: middle;
}

    #twolines-menu li.menu {
        background-image: url(images/tab-bg.jpg);
    }

    #twolines-menu li.menu-active {
        background-image: url(images/tab-bg-active.jpg);
    }

    #twolines-menu li.left {
        background-image: url(images/tab-left.jpg);
        background-position: left top;
        background-repeat: no-repeat;
    }

    #twolines-menu li.left-active {
        background-image: url(images/tab-left-active.jpg);
        background-position: left top;
        background-repeat: no-repeat;
    }

    #twolines-menu li.right {
        background-image: url(images/tab-right.jpg);
        background-position: right top;
        background-repeat: no-repeat;
    }

    #twolines-menu li.right-active {
        background-image: url(images/tab-right-active.jpg);
        background-position: right top;
        background-repeat: no-repeat;
    }

    #twolines-menu li.sep {
        width: 5px;
        padding: 0;
    }

    #twolines-menu li a {
        display: block;
        margin: 0px;
        padding: 0px;
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
        color: #0E4380;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        height: 20px;
        width: inherit;
    }

#twolines-submenu ul, .twolines-submenu {
    background-color: #9FCBEF;
}

#twolines-submenu li {
    margin: 0px 0px 0px 0px;
    list-style: none;
    float: left;
    font: bold 11px Tahoma;
    height: 23px;
    vertical-align: middle;
}

    #twolines-submenu li.menu {
        height: 10px;
        padding-top: 8px;
    }

    #twolines-submenu li.left {
    }

    #twolines-submenu li.right {
    }

    #twolines-submenu li.sep {
        width: 5px;
        padding: 0;
    }

    #twolines-submenu li a {
        display: block;
        margin: 0px;
        padding: 0px;
        padding-left: 3px;
        padding-right: 3px;
        color: #0E4380;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        height: 20px;
        width: inherit;
    }

.aspNetDisabled {
    color: Gray;
}

.ui-widget {
}

    .ui-widget .ui-widget {
    }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    }

.ui-state-hover a, .ui-state-hover a:hover {
    color: #0E4380;
    text-decoration: none;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; /* For IE 8 */
    ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 5.5 - 7 */
    ;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* highslide */
.highslide-heading {
    padding: 6px !important;
    padding-left: 8px !important;
    margin: 0px !important;
    background-color: #D3ECFF !important;
    border-bottom: 1px solid #9FCBEF !important;
    color: #0E4380 !important;
    -webkit-text-shadow: 1px 1px 0 #F0F9FF;
    text-shadow: 1px 1px 0 #F0F9FF;
}

.highslide-body {
    overflow: hidden !important;
}


/* BOOTSTRAP */
h1 {
    margin-top: 0 !important;
}

.hqdanang-news-item {
    font-size: 12pt;
    /*border-bottom: 1px dashed #cecece;*/
}

.hqdanang-top-link {
    height: 35px;
    width: 268px;
    margin-bottom: 4px;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
}

    .hqdanang-top-link a {
        text-transform: uppercase;
        font-weight: bold;
    }

.hqdanang-top-link-1 {
    background-image: url('Images/Link/Link1.jpg');
}

.hqdanang-top-link-2 {
    background-image: url('Images/Link/Link2.jpg');
}

.hqdanang-top-link-3 {
    background-image: url('Images/Link/Link3.jpg');
}

.hqdanang-top-link-4 {
    background-image: url('Images/Link/Link4.jpg');
}

.hqdanang-top-link-5 {
    background-image: url('Images/Link/Link5.jpg');
}

.hqdanang-box-header {
    background-color: #357EBD;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    text-align: left;    
}

    .hqdanang-box-header > span {
        font-family: 'utm_swiss_condensedregular';
        color: #ffffff;
        font-weight: normal;
        font-size: 11pt;
    }

    .hqdanang-box-header > a {
        font-family: 'utm_swiss_condensedregular';
        color: #ffffff;
        font-weight: normal;
        font-size: 11pt;
    }

.image-biglink-left {
    border: 1px solid #cecece;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.image-biglink-right {
    border: 1px solid #cecece;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.image-thutuchaiquan, .image-tienichhaiquan, .image-congtacdanvan, .image-tutuonghochiminh {
    width: 250px;
    height: 125px;
    -ms-background-size: 100%;
    background-size: 100%;
}

.image-thutuchaiquan {
    background-image: url("images/home/thutuchaiquan.jpg");
}

.image-tienichhaiquan {
    background-image: url("images/home/tienichhaiquan.jpg");
}

.image-congtacdanvan {
    background-image: url("images/home/congtacdanvan.jpg");
}


.image-tutuonghochiminh {
    background-image: url("images/home/tutuonghochiminh.jpg");
}


.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    -ms-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: solid #fff 0;
    background: #fff;
}

.table-document-search td {
    padding: 3px;
}

#banroll-hqdanang {
    
}
#banroll-hqdanang-content {    
    background-color: white;
    height: auto;
}

img.article-left {
    margin-right: 12px;
}

table.table-input-data td {
    padding: 2px;
}

#hqdanang-article-content p {
    font-size: 14px!important;
}

#hqdanang-article-content span {
    font-size: 14px!important;
}