.ddsmoothmenu {
    font-weight: bold;
    background: #357ebd; /*background of menu bar (default state)*/
    width: 100%;
}

    .ddsmoothmenu ul {
        z-index: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        /*Top level list items*/
        .ddsmoothmenu ul li {
            position: relative;
            display: inline;
            float: left;
            min-width: 140.5px;
            text-align: center;
        }

            .ddsmoothmenu ul li.active {
                background: #9FCBEF; /*background of menu items during onmouseover (hover state)*/
                color: #0E4380 !important;
            }

                .ddsmoothmenu ul li.active a {
                    background: #9FCBEF; /*background of menu items during onmouseover (hover state)*/
                    color: #0E4380 !important;
                }

            /*Top level menu link items style*/
            .ddsmoothmenu ul li a {
                display: block;
                background: #357ebd; /*background of menu items (default state)*/
                padding: 8px 10px;
                border-right: 1px solid #9FCBEF;
                color: #0E4380;
                text-decoration: none;
                text-transform: uppercase;
            }

            * html .ddsmoothmenu ul li a { /*IE6 hack to get sub menu links to behave correctly*/
                display: inline-block;
            }

                .ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
                    color: white;
                }

                .ddsmoothmenu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
                    background: #D3ECFF; /*background of menu items during onmouseover (hover state)*/
                    color: #0E4380;
                }

                .ddsmoothmenu ul li a:hover {
                    background: #D3ECFF; /*background of menu items during onmouseover (hover state)*/
                    color: #0E4380;
                }

            /*1st sub level menu*/
            .ddsmoothmenu ul li ul {
                position: absolute;
                left: 0;
                display: none; /*collapse all sub menus to begin with*/
                visibility: hidden;
            }

                /*Sub level menu list items (undo style from Top level List Items)*/
                .ddsmoothmenu ul li ul li {
                    display: list-item;
                    float: none;
                }

                    /*All subsequent sub menu levels vertical offset after 1st level sub menu */
                    .ddsmoothmenu ul li ul li ul {
                        top: 0;
                    }

                    /* Sub level menu links style */
                    .ddsmoothmenu ul li ul li a {
                        white-space: nowrap;
                        /*width of sub menus*/
                        padding: 12px 10px;
                        margin: 0;
                        border-top-width: 0;
                        margin-left: -1px;
                        border-left: 1px solid #E9F2FA;
                        border-bottom: 1px solid #E9F2FA;
                        text-transform: uppercase;
                    }

/* Holly Hack for IE \*/
* html .ddsmoothmenu {
    height: 1%;
}
/*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass {
    position: absolute;
    top: 6px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow { /*shadow for NON CSS3 capable browsers*/
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: silver;
}

.toplevelshadow { /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
    opacity: 0.8;
}
