﻿.droplinetabs {
    overflow: hidden;
    background-color: #0E87DB;
    font-weight: bold;
    font-family: 'Tahoma' !important;
}

    .droplinetabs ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }

    .droplinetabs li {
        display: inline;
        margin: 0 2px 0 0;
        padding: 0;
    }


    .droplinetabs a {
        float: left;
        color: white;
        background: #0E87DB url(leftedge.gif) no-repeat left top; /*default background color of tabs, left corner image*/
        padding: 8px 10px;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .droplinetabs ul li.active a {
        background: #ff9200; /*background of menu items during onmouseover (hover state)*/
    }

    .droplinetabs a:link, .droplinetabs a:visited, .droplinetabs a:active {
        
    }

    .droplinetabs a span {
        float: left;
        display: block;
        background: transparent url(rightedge.gif) no-repeat right top; /*right corner image*/
        padding: 7px 9px 3px 6px;
        cursor: pointer;
    }

    .droplinetabs a span {
        float: none;
    }


    .droplinetabs a:hover {
        background-color: #ff9200; /*background color of tabs onMouseover*/
        color: #000;
    }

        .droplinetabs a:hover span {
            background-color: transparent;
        }

    /* Sub level menus*/
    .droplinetabs ul li ul {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        background: #ff9200; /*sub menu background color */
        color: #ffffff;    
        visibility: hidden;
        padding-top: 6px;
        padding-bottom: 6px;
        color: black;
    }

        /* Sub level menu links style */
        .droplinetabs ul li ul li a {
            padding: 6px;
            padding-right: 8px;
            margin: 0;
            background: #ff9200; /*sub menu background color */
            color: #ffffff;
            /*color: black;*/
        }

            .droplinetabs ul li ul li a span {
                background: #ffffff; /*sub menu background color */
                color: black;
            }

            .droplinetabs ul li ul li a:hover { /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
                background: #ff9200;
                color: #000;
            }
