/*
jQuery.ganttView v.0.8.0
Copyright (c) 2010 JC Grubbs - jc.grubbs@devmynd.com
MIT License Applies
*/

div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-vtheader,
div.ganttview-vtheader-item-name,
div.ganttview-vtheader-series,
div.ganttview-grid,
div.ganttview-grid-row-cell {
	float: left;
}

div.ganttview-hzheader-month,
div.ganttview-hzheader-day {
	text-align: center;
}

div.ganttview-grid-row-cell.last,
div.ganttview-hzheader-day.last,
div.ganttview-hzheader-month.last {
	border-right: none;
}

div.ganttview {
	border: 1px solid #8AAFE1;
}


/* Horizontal Header */

div.ganttview-hzheader-month {
	width: 60px;
	height: 20px;
	border-right: 1px solid #8AAFE1;
	line-height: 20px;
}

div.ganttview-hzheader-day {
	width: 20px;
	height: 20px;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #8AAFE1;
	line-height: 20px;
	color: #777;
}


/* Vertical Header */

div.ganttview-vtheader {
	margin-top: 41px;
	width: 240px;
	overflow: hidden;
	background-color: #fff;
}

div.ganttview-vtheader-item {
	overflow: hidden;
	color: #666;
}

div.ganttview-vtheader-item-name {
	width: 100px;
	padding-left: 5px;
	border-top: 1px solid #8AAFE1;
	line-height: 16px;
}

div.ganttview-vtheader-series-name {
	width: 130px;
	height: 31px;
	border-top: 1px solid #8AAFE1;
	line-height: 16px;
	padding-left: 5px;
}


/* Slider */

div.ganttview-slide-container {
	overflow: auto;
	border-left: 1px solid #8AAFE1;
}


/* Grid */

div.ganttview-grid-row-cell {
	width: 20px;
	height: 31px;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}

div.ganttview-grid-row-cell.ganttview-weekend {
	background-color: #fafafa;
}


/* Blocks */

div.ganttview-blocks {
	margin-top: 40px;
}

div.ganttview-block-container {
	height: 28px;
	padding-top: 4px;
}

div.ganttview-block {
	position: relative;
	height: 25px;
	background-color: #E5ECF9;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.ganttview-block-text {
	position: absolute;
	height: 12px;
	font-size: 0.8em;
	color: #8AAFE1;
	padding: 2px 3px;
}


/* Adjustments for jQuery UI Styling */

div.ganttview-block div.ui-resizable-handle.ui-resizable-s {
	bottom: -0;
}