﻿/* Calendar */
.event-time {
	color: #EE0000;
	font-weight: bold;
}
.event-afternoon-time {
	color: #002CEE;
	font-weight: bold;
}
.event-evening-time {
	color: green;
	font-weight: bold;
}
.event-day {
	width: 1%;
	white-space: nowrap;
	font-weight: bold;
	background-color: #D3ECFF;
	vertical-align: middle;
}
.event-today {
	width: 1%;
	white-space: nowrap;
	font-weight: bold;
	background-color: #FFEF8F;
	vertical-align: middle;
}
.event-sunday {
	background-color: #FFE3E3;
	font-weight: bold;
}
.event-morning-cell {
	width: 1%;
	vertical-align: middle;
	text-align: center;
    /*font-weight:bold;    */
}
.event-afternoon-cell {
	width: 1%;
	vertical-align: middle;
	text-align: center;
    /*font-weight:bold;    */
}
.event-evening-cell {
	width: 1%;
	vertical-align: middle;
	text-align: center;
    /*font-weight:bold;    */
}
.event-morning-row {
	cursor: pointer;
	vertical-align: top;
	background-color: #FFFFFF;
}
.event-afternoon-row {
	cursor: pointer;
	vertical-align: top;
	background-color: #E9F2E0;
}
.event-evening-row {
	cursor: pointer;
	vertical-align: top;
	background-color: #dfdfdf;
}
.row-wit-completed {
	background-color: #b6ffa8;
	cursor: pointer;
}
.row-wit-deferred {
	background-color: gray;
	cursor: pointer;
}
.row-wit-inprogress {
	background-color: #bff6ff;
	cursor: pointer;
}
.row-wit-notstarted {
	background-color: #fff9bc;
	cursor: pointer;
}
.row-wit-waiting {
	background-color: #EDEDED;
	cursor: pointer;
}
.row-wit-unread {
	color: blue;
    /*font-weight: bold;*/
}

.tree-task-title-width-level0 {
	width: 214px;
}
.tree-task-title-width-level1 {
	width: 198px;
}
.tree-task-title-width-level2 {
	width: 182px;
}
.tree-task-title-width-level3 {
	width: 166px;
}
.tree-task-title-width-level4 {
	width: 150px;
}
.tree-task-title-width-level5 {
	width: 134px;
}
.tree-task-title-width-level6 {
	width: 118px;
}
.tree-task-title-width-level7 {
	width: 102px;
}
.tree-task-title-width-level8 {
	width: 86px;
}
.tree-task-title-width-level9 {
	width: 70px;
}
.tree-task-title-width-level10 {
	width: 54px;
}
.tree-task-icon {
	float: left;
	width: 150px;
	overflow: hidden;
	border-bottom: solid #8AAFE1 0px;
}
.tree-task-header {
	font-weight: bold;
}
.tree-task-title {
	font-weight: bold;
	padding: 4px;
	background-color: #E9F2FA;
	float: left;
	overflow: hidden;
	border-bottom: solid #8AAFE1 0px;
	color: black;
}
.tree-task-startdate {
	padding: 4px;
	display: block;
	background-color: #D3ECFF;
	text-align: left;
	float: left;
	width: 125px;
	color: black;
}
.tree-task-duedate {
	padding: 4px;
	display: block;
	background-color: #E9F2FA;
	text-align: left;
	float: left;
	width: 125px;
	color: black;
}
.tree-task-percent {
	padding: 4px;
	background-color: #D3ECFF;
	float: left;
	width: 40px;
	text-align: right;
	color: black;
}
.tree-task-fromuser {
	padding: 4px;
	background-color: #E9F2FA;
	padding-left: 6px;
	float: left;
	width: 120px;
	text-align: left;
	color: black;
}
.tree-task-touser {
	padding: 4px;
	background-color: #E9F2FA;
	padding-left: 6px;
	float: left;
	width: 120px;
	text-align: left;
	color: black;
	white-space: pre-wrap;
}
.tree-task-note {
	color: black;
	display: block;
	padding: 4px;
	background-color: #D3ECFF;
	padding-left: 6px;
	float: left;
	width: 180px;
	text-align: left;
}
.percentbar {
	width: 60px;
	text-align: center;
}
.percentbar-fill {
	background-color: #66C843;
	height: 16px;
	float: left;
}
.percentbar-remain {
	background-color: lightgrey;
	height: 16px;
	float: left;
}
.percent-text {
	position: relative;
	margin-top: -15px;
	font-size: 9px;
	padding-top: 1px;
	left: 0px;
	width: 100%;
	text-align: center;
	float: left;
}
.task-alert-text-normal {
}
.task-alert-text-deferred {
	color: gray;
}
.task-alert-text-completed {
	color: green;
}
.task-alert-text-overtime {
	color: red;
}
.gridview-group-level1 {
	height: 30px;
	vertical-align: middle;
	font-weight: bold;
	background-color: #9FCBEF;
	color: #0E4380;
    text-transform: uppercase;
}

.gridview-group-level1 td {
    vertical-align: middle;
}

.gridview-summary {    
	vertical-align: middle;
	font-weight: bold;
	background-color: #fff4f3;
	color: #000000;
    text-transform: uppercase;
}
.gridview-summary td
{    
    vertical-align: middle;
    font-size: 8pt;
}

.gridview-summary table tr td {
    border: none;
}

.gridview-summary table {
    border-spacing: 1px;    
}

.fc-header-title {
	font-family: Tahoma;
}
.fc-event-vert .fc-event-time {
	background-color: #9FCBEF;
	font-family: Tahoma;
	font-weight: bold;
	background-color: #9FCBEF;
	border-color: #9FCBEF;
}


.row-opportunity-won {
	background-color: #EEFFD3;
	cursor: pointer;
}
.row-opportunity-lost {
	background-color: #D0D0D0;
	cursor: pointer;
}
.row-opportunity-inprogress {
	background-color: #F0F9FF;
	cursor: pointer;
}
.row-opportunity-other {
	background-color: #FFFFFF;
	cursor: pointer;
}
.row-opportunity-waiting {
    background-color: #FFFFE0;
	cursor: pointer;
}