﻿/* Accordion */
.accordionHeader
{
    border: 1px solid #9FCBEF;
    color: #0E4380;
    background-color: #D3ECFF;	
	font-size: 12px;
	font-weight: bold;
    padding: 4px;
    margin-top: 3px;
    cursor: pointer;
}
.accordionContent {
    background-color: #E9F2FA;
    border: 1px solid #9FCBEF;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
.accordionHeaderSelected {
    
    border: 1px solid #9FCBEF;
    color: #0E4380;
    background-color: #9FCBEF;
	font-size: 12px;
	font-weight: bold;
    padding: 4px;
    margin-top: 3px;
    cursor: pointer;
}