﻿.ajax__calendar .ajax__calendar_container {
    margin-top: -1px;
    width: 200px;
    height: 200px;
    border: 1px solid #66afe9 !important;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ajax__calendar td {
    padding: 1px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
