﻿/* ajax__tab_xp-theme theme */
.ajax__tab_xp-theme .ajax__tab_header 
{
    font-family: tahoma,helvetica;
    font-size: 9pt;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-line.gif) repeat-x bottom;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_outer 
{
    padding-right:4px;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-right.gif) no-repeat right;
    height:21px;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_inner 
{
    padding-left:3px;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_tab
{
    height:13px;
    padding:4px;
    margin:0;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_outer 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-hover-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_inner 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-hover-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_tab 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-hover.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-active-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-active-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_tab 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/XP/tab-active.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    border:1px solid #999999;
    border-top:0;
    padding:8px;
    background-color:#ffffff;
}

/* ajax__tab_yuitabview-theme theme (../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/yui/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #2647a0;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/yui/sprite.png) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
    /*border-color:#8AAFE1;*/
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    cursor: pointer;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/yui/sprite.png) #bfdaff repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/yui/sprite.png) #2647a0 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    /*font-family:verdana,tahoma,helvetica;*/
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#E9F2FA;    
    border:solid 1px #808080;
    border-top-width:0px;
}

/* ajax__tab_technorati-theme theme */
.ajax__tab_technorati-theme .ajax__tab_header 
{
    /*font-family:"Helvetica Neue", Arial, Sans-Serif;*/
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/technorati/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/technorati/tab.png) no-repeat left top;
    border-color:#222;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_inner 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/technorati/tab.png) no-repeat right top;
    border-color:#666;
    color:#666;
    padding:3px 10px 2px 0px;
}
.ajax__tab_technorati-theme .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/technorati/tab.png) no-repeat 0pt -40px;
    border-bottom-color:#ffffff;
}
.ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/technorati/tab.png) no-repeat right -40px;
    color:#000000;
    border-color:#333
}
.ajax__tab_technorati-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

/* ajax__tab_msngallery-theme theme */
.ajax__tab_msngallery-theme .ajax__tab_header 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/msngallery/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_outer 
{
    border:solid 1px #D7DCE1;
    padding:1px 1px 0px 1px;
    border-bottom:solid 2px #A8D4D9;
    background-color:#edf2fb;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab 
{
    padding:6px 10px 6px 10px;
    color:#444444;
    width:117px;
    display:block;
    text-align:center;    
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab img
{
    height:24px;
    width:24px;
}
.ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab div
{
    font-family:Verdana, Arial, Sans-Serif;
    font-weight:bold;
    white-space:nowrap;
    line-height:145%;
    font-size:92%;
}
.ajax__tab_msngallery-theme .ajax__tab_active .ajax__tab_outer 
{
    padding:0px 0px 0px 0px;
    border:solid 2px #A8D4D9;
    border-bottom-color:#ffffff;
    background-color:#ffffff;
}
.ajax__tab_msngallery-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:8px;
    background-color:#ffffff;
    border:solid 2px #A8D4D9;
    border-top-width:0;
}

/* ajax__tab_ie-theme theme */
.ajax__tab_ie-theme .ajax__tab_header 
{
    padding-left:5px;
}
.ajax__tab_ie-theme .ajax__tab_header .ajax__tab_tab
{
    margin-right:0px;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/ie/tab_unselected.gif);
    width:116px;
    padding:9px 0px 3px 0px;
    text-align:center;    
    color:#0E4380;    
    font-size:11px;
    display:block;
}
.ajax__tab_ie-theme .ajax__tab_active .ajax__tab_tab 
{
    padding:6px 0px 3px 0px;
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/ie/tab_selected.gif);
}
.ajax__tab_ie-theme .ajax__tab_body 
{
    background:url(../../Masters/ASPNETVN.PORTAL.Masters.iOFFICE/Images/AjaxTab/ie/ie_tabbacker_720x296.jpg) no-repeat;
    font-size:13px;
    font-family:verdana;
    height:296px;
    width:716px;
}
.ajax__tab_ie-theme .ajax__tab_body div
{
     padding:8px;
}


/* ajax_tab_theme */

.ajax_tab_theme .ajax__tab_header 
{
    border-bottom:solid 10px #9FCBEF;
    
}
.ajax_tab_theme .ajax__tab_header .ajax__tab_outer 
{
    background-color: #D3ECFF;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #9FCBEF;
    border-bottom-width:0px;
    /*-moz-border-radius: 5px 5px 0px 0px;*/
}
.ajax_tab_theme .ajax__tab_header .ajax__tab_tab
{    
    font-weight:bold;
    color:#0E4380;
    padding: 0.6em;        
    cursor: pointer;
}
.ajax_tab_theme .ajax__tab_hover .ajax__tab_outer 
{
    background: #FFF;    
}
.ajax_tab_theme .ajax__tab_active .ajax__tab_tab 
{
    color: #0E4380;
    font-weight: bold;
    background: #9FCBEF;
}
.ajax_tab_theme .ajax__tab_active .ajax__tab_outer
{
    background: #9FCBEF;
    
}

/* body, content */
.ajax_tab_theme .ajax__tab_body 
{
    /*font-family:verdana,tahoma,helvetica;*/
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#E9F2FA;    
    border:solid 1px #9FCBEF;
    border-top-width:0px;
}
