﻿/* Drop down menu */
#sddm {
	margin: 0;
	padding: 0;
	padding-left: 6px;
	z-index: 30;
}
#sddm li.separation a {
	padding-left: 1px;
	padding-right: 1px;
}
#sddm li.separation a:hover {
	background-color: Transparent;
	color: #FFFFFF;
	padding-left: 1px;
	padding-right: 1px;
	cursor: default;
}
#sddm li {
	margin: 0px 0px 0px 0px;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px Tahoma;
}
#sddm li a {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	color: #0E4380;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	height: 20px;
	width: inherit;
}
#sddm li a:hover {
	display: block;
	color: Orange;
	width: inherit;
}
#sddm div {
	position: absolute;
	visibility: hidden;
	padding: 0;
	background-color: Orange;
	border: 1px solid #FFFFFF;
	z-index: 99999;
}
#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 0px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 3px;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background-color: Orange;
	color: #FFFFFF;
	font: 11px Arial;
	font-weight: bold;
}
#sddm div a:hover {
	color: #FFFFFF;
	background-color: Orange;
}